# Python
__pycache__/
*.py[cod]
*.class
*.so
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.pyre/
.pytype/
cython_debug/
# Project specific
*.pt
*.pyd
*.zip
*.pack
site-packages/
*.mp4
*.jpg
*.jpeg
*.png
*.gif
*.avi
*.mov
*.exe
*.dll
*.so
*.dylib
*.h5
*.onnx
*.weights
*.pb
runs/
processed_videos/
node_modules/
.DS_Store
Thumbs.db
